Bootstrap-Flask==1.1.0
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Classful==0.14.2
Flask-Dance==3.0.0
Flask-Login==0.4.1
flask-nav==0.6
Flask-Rauth==0.3.2
Flask-Script==2.0.6
Flask-SocketIO==4.2.1
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
Jinja2==2.10.3
social-auth-app-flask==1.0.0
social-auth-app-flask-sqlalchemy==1.0.1
social-auth-core==3.2.0
social-auth-storage-sqlalchemy==1.1.0
SQLAlchemy==1.3.11
Werkzeug==0.16.0
WTForms==2.2.1
