{% extends "base.html" %}
{% block body %}
<div class="row">
	<aside class="col-sm-7 col-md-8 col-lg-9 mx-auto">
		<div class="card border animated animatedFadeInUp fadeInUp">
			<h5 class="card-header text-center">Dashboard</h5>
			<article class="card-body">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima distinctio velit pariatur nulla quibusdam odit veniam, doloremque vel commodi eos laboriosam. Cum voluptas cumque beatae recusandae placeat, velit fugit consectetur!</p>
				<div style="height: 700px;"></div>
			</article>
		</div>
	</aside>
</div>
{% endblock body %}